{% block session %}{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            body{
                background-image:url({{asset('img/91.jpg')}});
                background-repeat:no-repeat;
                background-attachment:fixed;
            }
        </style>
        <title>{% block title %}GSB{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap-grid.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap-reboot.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/gsb.css') }}" rel="stylesheet" />
        {% endblock %}
        
    </head>
    <body>
        {% block menu %}
            <center>
            <a class="navbar-brand" href="/">
            <img src="{{ asset('img/logo.png') }}" width="300" style='border-radius :40%;  margin-top: 5em; ' >
            </a>
            </center>
            <br/>
        {% endblock %}
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
